body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.course {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 10px;
}

header {
    background-color: #ff5093;
    color: white;
    padding: 15px 0;
    text-align: center;
}

footer {
    background-color: #ff5093;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

.main {
    padding: 20px;
}

.login-box, .signup-box {
    background-color: white;
    padding: 20px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border-radius: 8px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #0056b3;
}

.signup-box input:hover{
    border: 1px solid #007BFF;
    transform: scale(1.07);
    transition: 0.5s;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box button:hover {
    transition: 0.3s;
    background: #0056b3;
}

@media (max-width: 600px) {
    .signup-box {
        width: 90%;
    }
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}